In [1]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df =pd.read_csv('Q7.csv')

In [6]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [7]:
df.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [9]:
#range = max-min

In [15]:
points=4.93-2.76
points

2.17

In [16]:
Score=5.424-1.513
Score

3.9110000000000005

In [18]:
Weigh=22.90-14.50
Weigh

8.399999999999999